// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

// Take a look at markdown.scss to extend GOV.UK elements for markdown support.
@import 'markdown';


/****************************
Dashboards
****************************/

html {
  background: #fff;
}

#dashboard #content {
  max-width: 100%;
  padding: 0 30px;
}

#dashboard h1.heading-xlarge {
  float: left;
  margin: 10px 0 10px;
  padding-top: 10px;
  width: auto;
}

#dashboard .heading-small {
  font-weight: normal;
  margin-left: 5px;
}

.grid-row {
   margin-bottom: 40px;
   clear: both;
}

.dashboard-date {
  float: left;
  margin: 42px 0 0 14px;
}

.heading-tile {
  background: #28A197;
  background: rgba(40,161,151, 0.25);
  font-size: 30px;
  margin: 15px 0 25px;
  padding: 12px 15px;
}

.stats .heading-xlarge {
  margin-bottom: 0;
  font-size: 76px;
}

.stats p {
  font-size: 30px;
}

.increase:after {
    content: "\25B2";
    color: #6F777B;
}
.decrease:after {
    content: "\25BC";
    color: #6F777B;
}
