{% extends "layouts/layout_dwp_dashboard.html" %}

{% block page_title %}
  PIP Google Analytics Dasboard
{% endblock %}

{% block content %}
  <main id="content" role="main">
      <h1 class="heading-xlarge">Apply for PIP </h1>
      <p class="dashboard-date">Release 2.1</p>


    <div class="grid-row">
      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Device Usage</h2>
        <div id="device-usage-chart">
        </div>
      </div>
      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Total Users</h2>
        <div id="stat-1" class="stats">
        </div>
      </div>
      <div class="column-one-third">
        <h2 class="heading-medium heading-tile">Total Sessions</h2>
        <div id="stat-2" class="stats">
        </div>
      </div>
    </div>

    <div class="grid-row">
      <div class="column-full">
        <h2 class="heading-medium heading-tile">Sessions and Users</h2>
        <div id="line-chart">
        </div>
      </div>
    </div>

  </main>
{% endblock %}
{% block page_scripts %}
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> <!-- https://developers.google.com/chart/interactive/faq -->
  <script src="/public/javascripts/dashboard-charts.js"></script>
{% endblock %}
